In [7]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pandas as pd
from IPython.display import display

In [9]:
spark_application_name = "Spark_Application_Name"

In [10]:
spark = (SparkSession.builder.appName(spark_application_name).getOrCreate())

In [11]:
google_path = "GOOGLE.csv"
df = spark.read.csv(google_path, header="true", inferSchema="true", multiLine="true", escape='"')

In [12]:
from functools import reduce
from pyspark.sql import DataFrame

In [13]:
display(df)

DataFrame[Date: timestamp, High: double, Low: double, Open: double, Close: double, Volume: int, Adj Close: double, company_name: string]

In [14]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Open: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- company_name: string (nullable = true)

In [15]:
from pyspark.sql.functions import *

df = df.withColumn("Date", to_date(col("Date"), "yyyy-MM-dd"))
df.show()

+----------+-----------------+-----------------+-----------------+-----------------+-------+-----------------+------------+
|      Date|             High|              Low|             Open|            Close| Volume|        Adj Close|company_name|
+----------+-----------------+-----------------+-----------------+-----------------+-------+-----------------+------------+
|2017-01-03|789.6300048828125|775.7999877929688|778.8099975585938|786.1400146484375|1657300|786.1400146484375|      GOOGLE|
|2017-01-04|791.3400268554688|783.1599731445312|788.3599853515625|786.9000244140625|1073000|786.9000244140625|      GOOGLE|
|2017-01-05|  794.47998046875|  785.02001953125|786.0800170898438|  794.02001953125|1335200|  794.02001953125|      GOOGLE|
|2017-01-06|807.9000244140625|792.2039794921875| 795.260009765625|806.1500244140625|1640200|806.1500244140625|      GOOGLE|
|2017-01-09|809.9660034179688|802.8300170898438|806.4000244140625|806.6500244140625|1274600|806.6500244140625|      GOOGLE|
|2017-01-10|809.1300048828125| 803.510009765625|807.8599853515625|804.7899780273438|1176800|804.7899780273438|      GOOGLE|
|2017-01-11|808.1500244140625|801.3699951171875|            805.0|807.9099731445312|1065900|807.9099731445312|      GOOGLE|
|2017-01-12|807.3900146484375|799.1699829101562|807.1400146484375|806.3599853515625|1353100|806.3599853515625|      GOOGLE|
|2017-01-13|811.2239990234375|806.6900024414062|  807.47998046875|807.8800048828125|1099200|807.8800048828125|      GOOGLE|
|2017-01-17|807.1400146484375|800.3699951171875|807.0800170898438|804.6099853515625|1362100|804.6099853515625|      GOOGLE|
|2017-01-18|806.2050170898438| 800.989990234375|805.8099975585938|806.0700073242188|1294400|806.0700073242188|      GOOGLE|
|2017-01-19|  809.47998046875|801.7999877929688|805.1199951171875|802.1749877929688| 919300|802.1749877929688|      GOOGLE|
|2017-01-20|806.9099731445312|801.6900024414062|806.9099731445312|  805.02001953125|1670000|  805.02001953125|      GOOGLE|
|2017-01-23|820.8699951171875| 803.739990234375|           807.25|819.3099975585938|1963600|819.3099975585938|      GOOGLE|
|2017-01-24|825.9000244140625|817.8209838867188|822.2999877929688|823.8699951171875|1474000|823.8699951171875|      GOOGLE|
|2017-01-25|  835.77001953125|825.0599975585938|829.6199951171875|835.6699829101562|1494500|835.6699829101562|      GOOGLE|
|2017-01-26|            838.0| 827.010009765625|837.8099975585938|832.1500244140625|2973900|832.1500244140625|      GOOGLE|
|2017-01-27|841.9500122070312|820.4400024414062|834.7100219726562|823.3099975585938|2965800|823.3099975585938|      GOOGLE|
|2017-01-30|815.8400268554688|799.7999877929688|814.6599731445312|802.3200073242188|3246600|802.3200073242188|      GOOGLE|
|2017-01-31|           801.25|  790.52001953125|796.8599853515625|796.7899780273438|2160600|796.7899780273438|      GOOGLE|
+----------+-----------------+-----------------+-----------------+-----------------+-------+-----------------+------------+
only showing top 20 rows

In [16]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Open: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- company_name: string (nullable = true)

In [17]:
cleanDF = df.na.fill(value=0, subset=["Volume"])
cleanDF.show()

# We can see that there are 987 Volume columns in apple, microsoft and tesla DFs have null values.
# We do not want to remove every rows that contain a null value because if we do so 987 rows in 3 DFs will be removed,
# which also means a lot of data from other columns of that row will be lost, and these data is important in the analytics of other information of that day

+----------+-----------------+-----------------+-----------------+-----------------+-------+-----------------+------------+
|      Date|             High|              Low|             Open|            Close| Volume|        Adj Close|company_name|
+----------+-----------------+-----------------+-----------------+-----------------+-------+-----------------+------------+
|2017-01-03|789.6300048828125|775.7999877929688|778.8099975585938|786.1400146484375|1657300|786.1400146484375|      GOOGLE|
|2017-01-04|791.3400268554688|783.1599731445312|788.3599853515625|786.9000244140625|1073000|786.9000244140625|      GOOGLE|
|2017-01-05|  794.47998046875|  785.02001953125|786.0800170898438|  794.02001953125|1335200|  794.02001953125|      GOOGLE|
|2017-01-06|807.9000244140625|792.2039794921875| 795.260009765625|806.1500244140625|1640200|806.1500244140625|      GOOGLE|
|2017-01-09|809.9660034179688|802.8300170898438|806.4000244140625|806.6500244140625|1274600|806.6500244140625|      GOOGLE|
|2017-01-10|809.1300048828125| 803.510009765625|807.8599853515625|804.7899780273438|1176800|804.7899780273438|      GOOGLE|
|2017-01-11|808.1500244140625|801.3699951171875|            805.0|807.9099731445312|1065900|807.9099731445312|      GOOGLE|
|2017-01-12|807.3900146484375|799.1699829101562|807.1400146484375|806.3599853515625|1353100|806.3599853515625|      GOOGLE|
|2017-01-13|811.2239990234375|806.6900024414062|  807.47998046875|807.8800048828125|1099200|807.8800048828125|      GOOGLE|
|2017-01-17|807.1400146484375|800.3699951171875|807.0800170898438|804.6099853515625|1362100|804.6099853515625|      GOOGLE|
|2017-01-18|806.2050170898438| 800.989990234375|805.8099975585938|806.0700073242188|1294400|806.0700073242188|      GOOGLE|
|2017-01-19|  809.47998046875|801.7999877929688|805.1199951171875|802.1749877929688| 919300|802.1749877929688|      GOOGLE|
|2017-01-20|806.9099731445312|801.6900024414062|806.9099731445312|  805.02001953125|1670000|  805.02001953125|      GOOGLE|
|2017-01-23|820.8699951171875| 803.739990234375|           807.25|819.3099975585938|1963600|819.3099975585938|      GOOGLE|
|2017-01-24|825.9000244140625|817.8209838867188|822.2999877929688|823.8699951171875|1474000|823.8699951171875|      GOOGLE|
|2017-01-25|  835.77001953125|825.0599975585938|829.6199951171875|835.6699829101562|1494500|835.6699829101562|      GOOGLE|
|2017-01-26|            838.0| 827.010009765625|837.8099975585938|832.1500244140625|2973900|832.1500244140625|      GOOGLE|
|2017-01-27|841.9500122070312|820.4400024414062|834.7100219726562|823.3099975585938|2965800|823.3099975585938|      GOOGLE|
|2017-01-30|815.8400268554688|799.7999877929688|814.6599731445312|802.3200073242188|3246600|802.3200073242188|      GOOGLE|
|2017-01-31|           801.25|  790.52001953125|796.8599853515625|796.7899780273438|2160600|796.7899780273438|      GOOGLE|
+----------+-----------------+-----------------+-----------------+-----------------+-------+-----------------+------------+
only showing top 20 rows

In [18]:
outputPath = "stocks-clean.parquet"

noNullsDF = cleanDF.withColumnRenamed("Adj Close", "AdjClose")
noNullsDF.write.mode("overwrite").parquet(outputPath)

## Add Prediction Column

In [19]:
filePath = "stocks-clean.parquet"
stocksDF = spark.read.parquet(filePath)

In [20]:
from pyspark.sql.functions import lead, col
from pyspark.sql import Window

w = Window.orderBy("Date")

stocksDF = stocksDF.withColumn("Next", lead("Volume",1,0).over(w))

In [21]:
stocksDF = stocksDF.filter(col("Next")!=0.0)
display(stocksDF)

DataFrame[Date: date, High: double, Low: double, Open: double, Close: double, Volume: int, AdjClose: double, company_name: string, Next: int]

In [22]:
outputPath = "stocks-final.parquet"
stocksDF.write.mode("overwrite").parquet(outputPath)